
.jumbotron
{
    /*set the border radius*/
    border-radius : 15px;

    width : 80%;
    padding-bottom : 150px;

    /*center the jumbotron*/
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.jumbotron p
{
    color : red;
}

hr
{
    /*resize the width*/
    width : 65%;
}

@media (max-width: 576px)
{
    hr
    {
        /*resize the width*/
        width : 90%;
    }
}