<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!--bootstrap go to  http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/-->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- my icon -->
        <link href="/static/webicon.jpg" rel="icon">

        <!-- css-->
        <link href="/static/styles.css" rel="stylesheet">
        {% block head%} {% endblock %}

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <title>Eduresistor {% block title %}{% endblock %}</title>

        <!--Icon -->
    	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    </head>
    <body>

        <!--navigation bar-->
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/index"><img src="/static/logo.png" class="logo" alt="logoweb"></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="log_button nav-link" href="/homepage">Start Using</a></li>
                    </ul>
            </div>
        </nav>

        <main >
                {% block main %}{% endblock %}
        </main>


        <footer class="small text-center text-muted">
            <div class="text-center footer">
                    <h5>&copy; Eduresistor</h5>
                    <br>
            </div>
        </footer>
    </body>
</html>