{% extends "layout.html" %}

{% block head %}
<link href="/static/styles2.css" rel="stylesheet">
{% endblock %}

{% block title %}
    log_choice
{% endblock %}

{% block main %}
    <div class="container-fluid padding">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-4 p-5">
                    <form class="form-container text-center needs-validation padding" action="/login" method="post" novalidate>
                        <div class="form-group ">
                            <input type="text" autofocus autocomplete="off" class="form-control" name="username" placeholder="Username" required>
                            <div class="invalid-feedback">
                                Please provide your Username.
                            </div>
                        </div>
                        <div class="form-group padding">
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                            <div class="invalid-feedback">
                                    Please provide your Password.
                            </div>
                        </div>
                        <div class="button padding">
                            <button class="btn btn-primary btn-block padding" type="submit" >Log in</button>
                        </div>
                        <hr>
                        <a href="/register" class="btn btn-danger btn-block">Create New Account</a>
                    </form>
            </div>
    </div>
    <script src="/static/formvalidation.js"></script>
{% endblock %}